[submodule "external/qpOASES"]
	path = external/qpOASES
	url = https://github.com/hallfjonas/qpOASES.git
[submodule "external/osqp"]
	path = external/osqp
	url = https://github.com/hallfjonas/osqp.git
